@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}
/* #0a2540; */

body{
  color: #0a2540;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  
    background:  #6190E8 !important;
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8) !important;
    background: linear-gradient(to right, #A7BFE8, #6190E8) !important;
  
}

